
/* 
File:			custom.css
Description:	Custom styles for Thesis

BASIC USAGE:
If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag will be appended with the "custom" class, like so: <body class="custom">. You can use the "custom" class to override *any* CSS declarations contained in the style.css file.

For example, if you wish to change the default link color to green, you would add the following declarations to this file:
.custom a, .custom a:visited { color: #090; }	<--- This makes links green
.custom a:hover { color: #00f; }	<--- This makes links blue when you mouse over them

WHY THIS WORKS:
By using the "custom" class, you are creating more specific CSS declarations for HTML elements. CSS styling is applied through rules of specificity, and because declarations prepended with .custom are more specific, they get applied when the page is rendered!

More information about styling your Thesis installation using this file can be found in the User's Guide:
http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/
*/



/*  SITEWIDE STYLES */



body {
	padding: 0;
	margin: 0;
	background: url('images/background.png') top left repeat-x;
	background-color: #898989;
}

body.custom {
	/* background: url('images/background.png') top left repeat-x #898989; */
}

#wpadminbar {
	display: inline-block;
	clear: both;
}

.home {
	background: url('images/background.png') top left repeat-x;
}

h1, h2, h3, h4, h5, h6, p, li {
	font-family: 'Lucida Grande', Arial, sans-serif;
}
#page {
	margin-left: auto;
	margin-right: auto;
	min-height: 650px;
}
.page {
	position: relative;
	top: 0;
	background-color: transparent !important;
	z-index: 1 !important;
}
#header_area.full_width {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 1000;
	position: relative;
}
/*
.home #header {
	left: 25px;
} */
.home #header {
	position: relative;
	left: 25px !important;
}
#header {
	border-bottom: none;
	background: url('images/logo_lg.png') top left no-repeat transparent;
	display: block;
	position: relative;
	top: 0;
	height: 160px;
	width: 280px;
	margin-left: auto;
	float: left;
	z-index: 10;
}
#content_area {
	background: #fff;
	padding-left: 20px;
	padding-right: 20px;
}
.home #content_box {
	border: none;
	background: transparent;
	position: relative;
	clear: both;
	top: -30px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.home #content {
	border: none;
	padding: 0 !important;
	width: 560px;
	float: left;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 12000 !important;
	/* background: white; */
}
.home .post_box {
	margin-top: 0;
	padding-top: 0;
	padding-right: 0;
	margin-left: 0;
	position:relative;
	top: 0;
}
#content_area .page {
	min-height: 450px;
}
#content_area.full_width .page {
	min-height: 450px;
	z-index: 10;
}
#content_area.full_width .page .post_box {
}
.home .menu-main-top-menu-container {
	left: -50px;	
	width: 685px;
}
.menu-main-top-menu-container {
	background: transparent;
	width: 755px;
	height: 0px;
	display: block;
	float: right;
	position: relative;
	left: -60px;
	padding: 0;
	z-index: 1000 !important;
}
/* FOOTER BLOCK */
#footer_area.full_width {
	border: none;
	color: #fff;
	left: 0;
	bottom: 0;
	display: block;
	text-align: left;
	clear: both;
	background: url('images/footer_back.png') top left repeat-x #898989;
}
#footer {
	border: none;
	text-align: left;
	color: #fff;
	background: url('images/footer_back.png') top left repeat-x #898989;
	padding-top: 20px !important;
	margin-top: 0 !important;
	width: 1035px;
	position: relative;
}
#footer p {
	font-size: 1.1em;
}
#footer a {
	color: yellow;
	text-decoration: none;
	border-bottom: none;
}
#footer_left_col {
	width: 300px;
	position: relative;
	left: 15px;
}
#footer_right_col {
	display: block;
	width: 400px;
	position: absolute;
	top: 20px;
	right: 20px;
}
#footer_right_col > h3 {
	font-size: 1.6em;
	text-transform: uppercase;
	font-weight: bold;
}
#footer_right_col .title_subtitle {
	font-family: sans;
	font-size: 1.2em;
	line-height: 120%;
	margin-bottom: 8px;
}
.hidden_notes {
	display: none;
}
/* MENU STYLES */
.menu {
	display: block;
	width: auto;
	float: right;
	margin-right: 0;
	padding-right: 0;
	margin-top: 10px;
	border-bottom: none;
	border-left: none;
}
.menu a {
}
.current-menu-item.current_page_item a {

}



/* MENU TOP BUTTONS */



/*HOME*/



#menu-item-25.current-menu-item a {

	display: none;

}



#menu-item-25 a {

	background: url('images/btn_home.png');

	height: 40px;

	width: 73px;

	padding: 0;

	border: 0;

	display: block;

	margin-right: 1px;

	text-indent: -9000px;

}



#menu-item-25 > :hover {

	background: url('images/btn_home.png') -73px 0 no-repeat;

	display: block;

}



/*ABOUT*/



#menu-item-22 > a {

	background: url('images/btn_about.png');

	height: 40px;

	width: 81px;

	padding: 0;

	border: 0;

	display: block;

	margin-right: 1px;

	text-indent: -9000px;

}



#menu-item-22 > :hover {

	background: url('images/btn_about.png') -81px 0 no-repeat;

	display: block;

}



/*COUPLES*/



#menu-item-21 > a {

	background: url('images/btn_couples.png');

	height: 40px;

	width: 93px;

	padding: 0;

	border: 0;

	display: block;

	margin-right: 1px;

	text-indent: -9000px;

}



#menu-item-21 > :hover {

	background: url('images/btn_couples.png') -93px 0 no-repeat;

	display: block;

}



/*COACHES*/



#menu-item-20 > a {

	background: url('images/btn_coaches.png');

	height: 40px;

	width: 97px;

	padding: 0;

	border: 0;

	display: block;

	margin-right: 1px;

	text-indent: -9000px;

}



#menu-item-20 > :hover {

	background: url('images/btn_coaches.png') -97px 0 no-repeat;

	display: block;

}



/*COUNSELORS AND CLERGY*/



#menu-item-19 > a {

	background: url('images/btn_counselors.png');

	height: 40px;

	width: 205px;

	padding: 0;

	border: 0;

	display: block;

	margin-right: 1px;

	text-indent: -9000px;

}



#menu-item-19 > :hover {

	background: url('images/btn_counselors.png') -205px 0 no-repeat;

	display: block;

}



/*RESOURCES*/



#menu-item-18 > a {

	background: url('images/btn_resources.png');

	height: 40px;

	width: 114px;

	padding: 0;

	border: 0;

	display: block;

	margin-right: 1px;

	text-indent: -9000px;

}



#menu-item-18 > :hover {

	background: url('images/btn_resources.png') -114px 0 no-repeat;

	display: block;

}



/*EVENTS*/



#menu-item-17 > a {

	background: url('images/btn_events.png');

	height: 40px;

	width: 85px;

	padding: 0;

	border: 0;

	display: block;

	margin-right: 1px;

	text-indent: -9000px;

}



#menu-item-17 > :hover {

	background: url('images/btn_events.png') -85px 0 no-repeat;

	display: block;

}



/* 2ND TIER SUB-MENU */

ul.sub-menu {

	z-index: 10000 !important;

}

ul.sub-menu li a {

	background: #6e1719 !important;

	display: block;

	border: none;

	color: #fff !important;

	text-transform: none;

	letter-spacing: 0;

	z-index: 10000 !important;

}

ul.sub-menu li li a {

	background: #4e0c0e !important;

}

.sub-menu li {

	font-size: 1.1em;

	z-index: 10000 !important;

}

.sub-menu li a {

}

.sub-menu li a:hover {

	background: #530e10 !important;

	color: #e9c01b !important;

	z-index: 10000 !important;

}



/* HOME PAGE STYLES */



#home_left_column {

	display: block;

	width: 250px;

	float: left;

	position: relative;

	top: 0;

	*top: 0px;

	_top: 0px;

}



#home_left_column h2 {

	color: #192d3f;

	font-weight: normal;

	text-transform: uppercase;

	letter-spacing: -1px;

	font-size: 2.3em;

	margin-top: 0;

	margin-bottom: 7px;
	padding-top: 15px;

}



#home_left_column p {

	font-size: 0.95em;

	line-height: 150%;

	padding-right: 10px;

}



#home_right_column {
	display: block;
	width: 260px;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	*top: 20px;
	_top: 20px;
}

#home_right_column .highlight {

	font-weight: bold;

	background: yellow;

	padding: 2px;

	color: #3b6386;

}



#home_right_column h2 {

	color: #69b9c6;

	font-weight: normal;

	text-transform: uppercase;

	letter-spacing: -1px;

	font-size: 2.3em;

	margin-top: 0;

	margin-bottom: 7px;
	padding-top: 15px;

}



#home_right_column p {

	font-size: 0.95em;

	line-height: 150%;

	padding-right: 20px;

}

#home_right_column p.u {

	display: none !important;

}



#home_right_column a:link {

	color: #1d5189;

	text-decoration: none;

	font-weight: bold;

}



#home_right_column a:hover {

	text-decoration: underline;

}



.headline_area h2 {

	display: none;

}



/* FEATURE BOX STYLE */

#multimedia_box {
	position: absolute;
	top: 0px;
}
#custom_box {
	padding-left: 0;
	margin-left: 0;
	margin-right: 0;
	padding-top: 0;
	margin-top: 0 !important;
	position: absolute;
	top: 0px;
	width: 550px;
	height: 242px !important;
}
#custom_box .sidebar_list {
	margin-top: 0 !important;
	padding-top: 0 !important;
}
#custom_box img {
	height: 242px !important;
	position: relative;
}
#multimedia_box .attachment-featured-slide {
	width: 550px;
	height: 242px;
}
#multimedia_box #meteor-slideshow {
	position: absolute !important;
	top: 0 !important;
}
#multimedia_box {
	display: block;
	border-bottom: none;
	margin-bottom: 0;
	margin-right: 0;
	margin-top: 0 !important;
	width: 550px;
	height: 242px;
	padding: 0 !important;
	-webkit-box-shadow: 0px 0px 8px #a8a8a8;
	-moz-box-shadow: 0px 0px 8px #a8a8a8;
	box-shadow: 0px 0px 8px #a8a8a8;
}
#meteor-buttons.meteor-buttons {
	display: block;
	white-space: nowrap !important;
}


/* TOP TESTIMONIAL */

#random-quote {
	display: block;
	position: relative;
	top: 33px;
	left: -230px;
	width: 400px;
	text-align: center;
	padding: 15px;
	background: url('images/testimonials_background.jpg') 10px 40px no-repeat;
	height: 54px;
}

#random-quote h3 {

	display: none;

}



#random-quote p {

	font-family: sans;

	font-size: 1.0em;

	font-style: italic;

	color: #777;

}



#random-quote .textwidget .testimony_by {

	font-weight: bold;

	color: #9b2023;

	clear: both;

	display: block;

	text-align: right;

	padding-right: 50px;

	text-transform: uppercase;

	font-size: .8em;

	letter-spacing: 3px;

	font-style: normal;

}



#random-quote cite {

	font-family: sans;

	font-size: 1.0em;

	font-style: italic;

	color: #192d3f;

}



#random-quote cite {

	font-weight: bold;

	color: #9b2023;

	clear: both;

	display: block;

	text-align: right;

	padding-right: 50px;

	text-transform: uppercase;

	font-size: .8em;

	letter-spacing: 3px;

	font-style: normal;

}



/* TOP TESTIMONIAL */



.home #quotescollection {

	top: 25px;

	left: 25px;

}



#quotescollection {

	display: block;

	position: relative;

	top: 0px;

	left: 0px;

	width: 420px;

	text-align: center;

	padding: 15px;

	/* background: url('images/testimonials_background.jpg') 10px 40px no-repeat; */

	height: 54px;

	z-index: 1000 !important;

}



#quotescollection h3 {

	display: none;

}



#quotescollection p {

	font-family: 'Minion Pro', Georgia, Times, sans;

	font-size: 1.1em;

	font-style: italic;

	color: #616161;

}



#quotescollection .textwidget .testimony_by {

	font-weight: bold;

	color: #9b2023;

	clear: both;

	display: block;

	text-align: right;

	padding-right: 50px;

	text-transform: uppercase;

	font-size: .8em;

	letter-spacing: 3px;

	font-style: normal;

}



#quotescollection cite {

	font-weight: bold;

	font-family: sans;

	color: #9b2023;

	clear: both;

	display: block;

	text-align: right;

	padding-right: 50px;

	text-transform: uppercase;

	font-size: .85em;

	letter-spacing: 3px;

	font-style: normal;

	font-family: 'Minion Pro', Georgia, Times, sans

}



/* RIGHT COLUMN - HOME PAGE */



#sidebar_1 ul.sidebar_list {

	margin-left: 0;

	padding-left: 0;

	padding-right: 0;

	z-index: 31000 !important;

}



#sidebar_1 {

	width: 720px;

	float: right;

	z-index: 1000 !important;

}



#sidebars #multimedia_box {
	display: none;
}
#sidebars .sidebar #categories-3 {
	display: block;
	width: 230px;
	height: 500px;
	float: right;
	position: relative;
	top: 35px;
	padding: 0 0 0 0;
	margin: 0;
	background: url('images/quicklinks_back.jpg') top left no-repeat transparent;
}
.cat_general-information #sidebars .sidebar #categories-3,
.cat_marriage-tips #sidebars .sidebar #categories-3 {
	top: -80px;
}
#sidebars .sidebar #categories-3.widget_categories h3 {
	color: #9b2023;
	text-transform: uppercase;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: -1px;
	font-size: 23px;
	margin-top: 80px;
	padding-top: 0;
	padding-left: 20px;
	line-height: 90%;
	position: relative;
	top: 0px;
}
#sidebars .sidebar #categories-3.widget_categories ul {
	margin-left: 20px;
}
#archive_intro {
	border-bottom: 0;
	padding: 0;
}
#archive_intro h1 {
	font-weight: bold;
}
.headline_area h2.entry-title a {
	font-size: 24px;
	font-weight: bold;
}



/* CALENDAR */


.gce-list-title {
	display: none;
}

.gce-feed-1 {

	padding-top: 0;

	position: relative;

}



#gce_widget-3 {

	display: block;

	width: 210px;

	float: left;

	height: 193px;

	margin-bottom: 0;

	padding-top: 50px;

	background: url('images/events_hdr.png') top left no-repeat;

	position: relative;

	left: 273px;

}



#gce_widget-3 h3 {

	display: none;

}



ul.gce-list {

	padding-top: 10px;

}

#gce_widget-3 p.gce-list-event-date {

	color: #616161;

	font-size: 9px;

	font-weight: bold;

	padding-left: 25px;

	padding-right: 20px;

	margin-bottom: 3px;

	margin-top: 0;

	padding-bottom: 0;

	line-height: 100%;

	background: none;

	text-transform: uppercase;

}



#gce_widget-3 p.gce-list-event {

	color: #9b2023;

	font-size: 12px;

	font-weight: bold;

	padding-left: 25px;

	padding-right: 20px;

	margin-bottom: 3px;

	margin-top: 0;

	padding-bottom: 0;

	line-height: 100%;

	background: none;

}



#gce_widget-3 p.gce-list-event a {

	color: #9b2023;

	font-weight: bold;

	font-size: 12px;

	display: block;

	line-height: 100%;

	text-decoration: none;

	background: none;

}



#gce_widget-3 p.gce-list-event a:hover {

	color: #f03b41;

	font-weight: bold;

	font-size: 12px;

	display: block;

	line-height: 100%;

	text-decoration: none;

	background: none;

}



#gce_widget-3 p.gce-list-event-time {

	color: #888;

	font-size: 10px;

	font-weight: normal;

	padding-left: 25px;

	padding-right: 20px;

	margin-bottom: 0;

	margin-top: 5px;

	padding-bottom: 0;

	line-height: 100%;

	display: none;

}



#gce_widget-3 p.gce-list-event-location {

	color: #333;

	font-size: 9px;

	font-weight: normal;

	padding-left: 25px;

	padding-right: 20px;

	margin-bottom: 10px;

	margin-top: 2px;

	line-height: 100%;

}



#ko_calendar-3 {

	display: block;

	width: 210px;

	float: left;

	height: 193px;

	margin-bottom: 0;

	padding-top: 50px;

	background: url('images/events_hdr.png') top left no-repeat;

	position: relative;

	left:3px;

}



#ko_calendar-3 h3 {

	display: none;

}



div .ko-calendar-date {

	color: #182d3f;

	font-size: 12px;

	font-weight: bold;

	padding-left: 25px;

	margin-bottom: 0;

	margin-top: 15px;

	padding-bottom: 0;

	line-height: 100%;

}



.ko-calendar-event-list div a {

	color: #9b2023;

	font-weight: bold;

	font-size: 12px;

	text-transform: uppercase;

	display: block;

	padding: 0 10px 0 21px;

	line-height: 100%;

}



/* I AM LOOKING FOR BLOCK */



#linkcat-4 {

	display: block;

	width: 217px;

	height: 171px;

	float: right;

	margin-bottom: 0;

	background: url('images/looking_for_back.png') 0 0 no-repeat;

	position: relative;

	top: -73px;

	left: -20px;

	padding-top: 72px;

	z-index: 10;

}



#linkcat-4 h3 {

	display: none;

}



#linkcat-4 li {

	background: url('images/right_link_background.png') top left repeat-y;

	display: block;

	height: 55px;

	margin-bottom: 1px;

}



#linkcat-4 .blogroll {

	background: url('images/quicklink_lower_back.png') bottom right no-repeat;

	width: 232px;

}



#linkcat-4 .xoxo li a {

	padding: 0;

	margin: 0;

	color: #192d3f;

	font-family: 'Lucida Grande';

	text-transform: uppercase;

	display: block;

	width: 180px;

	font-size: 20px;

}



#linkcat-4 .xoxo.blogroll li {

	color: #192d3f;

	text-transform: uppercase;

	font-size: 0.9em;

	height: 55px;

	padding-top: 25px;

	padding-left: 23px;

	margin-top: 1px;

}



/* SOCIAL ICON BLOCK */



#text-3 {

	display: block;

	float: left;

	background: url('images/social_back.jpg') top left repeat-y;

	padding: 0px 20px 0 21px;

	_padding-top: 20px;

	*padding-top: 20px;

	width: 397px;

	color: #fff;

	position: relative;

	left: 275px;

	-webkit-box-shadow: 0px 0px 8px #a8a8a8;

	-moz-box-shadow: 0px 0px 8px #a8a8a8;

	box-shadow: 0px 0px 8px #a8a8a8;

	z-index: 100;

	margin-bottom: 0;

	line-height: 0;

	white-space: nowrap;

	height: 75px;

	_height: 55px;

	*height: 55px;

}



#text-3 h3 {

	display: none;

	margin-bottom: 0;

	padding-bottom: 0;

}



#text-3 .home_social_icons {

	float: right;

	padding-right: 5px;

}



/* COACH AND DONATE BUTTON AREA */



#text-4 {

	display: block;

	float: left;

	padding: 0;

	width: 427px;

	background: yellow;

	position: relative;

	left: 275px;

	line-height: 50%;

	margin-bottom: 2px;

}

#text-4 .textwidget form {
	position: absolute;
	top: 0;
	right: 0;
}



#text-4 h3 {

	display: none;

	margin-bottom: 0;

	padding-bottom: 0;

}



/* AD BLOCK AREA */



#text-5 {

	display: block;

	float: left;

	padding: 0;

	width: 427px;

	height: auto;

	position: relative;

	left: 275px;

	line-height: 50%;

}



#text-5 .widget_text img {

	padding-bottom: 0;

	margin-bottom: 0 !important;

	line-height: 0% !important;

}



#text-5 h3 {

	display: none;

	margin-bottom: 0;

	padding-bottom: 0;

}



#sidebar_1 {

	position: absolute;

	top: -120px;

	right: 0;

}



/* HOME PAGE FOOTER */



#text-8 {

	display: block;

	float: left;

	background: url('images/homepg_footer_bck.jpg') top left no-repeat;

	padding: 15px 27px;

	position: relative;

	left: 275px;

	top: -33px;

}



#text-8 h3 {

	display: none;

}



#text-8 p {

	color: #182d3f;

	font-size: 0.8em;

}


/* TOP DONATE BUTTON */

#text-9 {
	display: inline-block;
	width: 200px;
	position: absolute;
	top: 0;
	right: 20px;
	display: none;
}
#text-9 h3 {
	display: none;
}



/* MISCELLANEOUS - SORT ME */



#multimedia_box h3 {

	display: none;

}





/* INTERNAL PAGE DEFAULT WITHOUT THE CUSTOM TEMPLATES */



.headline_area h1 {

	font-size: 48px;

	letter-spacing: -2px;

	color: #9b2023;

	line-height: 100%;

}



.format_text p {

	font-size: .90em;

	margin-top: 0;

	line-height: 150%;

}

.format_text h2 {

	color: #9c979d;

	font-size: 28px;

	margin-bottom: 20px;

	margin-top: 30px;

	text-transform: uppercase;	

}

.format_text h3 {

	color: #092aa7;

	font-size: 22px;

	margin-bottom: 10px;

	margin-top: 20px;

}



#content_box {

	border: none;

	background: transparent;

	position: relative;

	clear: both;

	top: -30px;

	*top: -20px;

	_top: -20px;

	z-index: 10 !important;

}
.home #content_area .page #content_box #content {
	background: none !important;
	padding-top: 225px !important;
}

#content {

	border: none;

	padding: 140px 0 0 0;

	width: 827px;

	background-image: url('images/internal_back_highfive.jpg');

	background-position: top right;

	background-repeat: no-repeat;

	position: relative;

	left: 0px;

	top: -122px;

	*top: -132px;

	_top: -132px;

	z-index: 1 !important;

	min-height: 200px;
}



.post_box {

	margin-top: 0;

	padding-top: 0;

	padding-right: 50px;

	margin-left: 0;

	position:relative;

	top: 0;

}















/* INTERNAL PAGE STYLES */









/* TABLE STYLES */



table {

	font-family: sans-serif;

	font-size: 0.90em;

	margin-bottom: 20px;

}



table td {

	padding: 5px 12px;

	vertical-align: top;

	border: none;

	line-height: 150%;

	background: #fff;

}



table .table_hdr {

	background: #888888;

	color: #fff;

}



table .table_column {

	background: #cccccc;

	width: 120px;

	text-align: right;

	font-weight: bold;

	border-bottom: 1px solid #fff;

}



/* LIST STYLES */



ol li {

	font-size: 0.95em;

	line-height: 150%;

	color: #182d3f;

}

ul li {

	font-size: 0.90em;

	line-height: 150%;

	color: #182d3f;	

}





/* INTERNAL PAGE 1 SUB MENU STYLES */





#sub_page_navigation-3 {

	display: block;

	width: 230px;

	height: 550px;

	float: right;

	position: relative;

	top: -50px;

	padding: 0 0 0 0;

	margin: 0;

	background: url('images/quicklinks_back.jpg') top left no-repeat;

}



#sub_page_navigation-3 .quicklinks {

	text-transform: uppercase;

	padding-bottom: 10px;

	font-size: 0.9em;

	color: #888;

	padding-left: 31px;

	line-height: 0;

}



#sub_page_navigation-3 .quicklinks strong {

	text-transform: uppercase;

	padding-bottom: 10px;

	font-size: 1.1em;

	color: #888;

}



#sub_page_navigation-3 h3 {

	color: #9b2023;

	text-transform: uppercase;

	font-variant: normal;

	font-weight: bold;

	letter-spacing: -1px;

	font-size: 23px;

	margin-top: 0;

	padding-top: 0;

	padding-left: 30px;

	line-height: 90%;

	position: relative;

	top: -8px;

}



#sub_page_navigation-3 ul {

	margin-left: 0;

	padding-left: 0;

	position: relative;

	width: 225px !important;

	display: block;

	left: -15px;

}



#sub_page_navigation-3 ul li {

	margin-left: 15px;

	padding-left: 30px;

	padding-bottom: 12px;

	padding-top: 0;

	display: block;

	background: url('images/quicklink_listitem_border.png') bottom left no-repeat;

	line-height: 100%;

}



#sub_page_navigation-3 ul li a {

	color: #333333;

	font-size: 0.95em;

	font-weight: bold;

	line-height: 130%;

}



#sub_page_navigation-3 ul li a:hover {

	color: #9b2023;

	font-size: 0.95em;

	font-weight: bold;

	text-decoration: none;

}



/* INTERNAL PAGE 2 STYLES */







/* Ad column */



div#places_page_content {

	width: 656px;

	float: left;

}



div#places_page_content div#content {

	width: 545px;

	float: right;

}



div#places_page_content div#sidebars {

	width: 95px;

	float: left;

}



/* DONATE PAGE */



.donation_form {

	background: #ececec;

	padding: 55px 15px 5px 15px;

	margin-bottom: 20px;

	border: 10px solid #dfdfdf;

	clear: both !important;

	position: relative;

}

.donation_form h3 {

	margin-top: 0 !important;

	font-size: 25px;

	text-transform: uppercase;

	color: #fff;

	background: #182d3f;

	display: block;

	padding: 10px 150px 10px 15px;

	position: absolute;

	top: -15px;

	left: -15px;

}

.donation_form table td {

	background: transparent;

	padding: 0;

	font-size: 25px;

	vertical-align: middle;

}

.donation_form input.donation_amount {

	border: 1px solid #ccc;

	background: #fff;

	width: 100px;

	padding: 10px;

	font-size: 18px;

	font-family: sans-serif;

	color: green;

	display: inline-block;

	-webkit-border-radius: 5px;

	-moz-border-radius: 5px;

	border-radius: 5px;

	-webkit-box-shadow: 0px 0px 2px 2px #c7c7c7;

-moz-box-shadow: 0px 0px 2px 2px #c7c7c7;

box-shadow: 0px 0px 2px 2px #c7c7c7;

}

.donation_form input.donation_submit_btn {

	background: green;

	width: 200px;

	padding: 10px;

	font-size: 18px;

	font-family: sans-serif;

	color: #fff;

	margin-left: 10px;

	border: 1px solid #fff;

	display: inline-block;

	-webkit-border-radius: 5px;

	-moz-border-radius: 5px-webkit-box-shadow: 0px 0px 2px 2px #c7c7c7;

-moz-box-shadow: 0px 0px 2px 2px #c7c7c7;

box-shadow: 0px 0px 2px 2px #c7c7c7;;

	border-radius: 5px;

}



input {

	width: auto !important;

	background: white;

	/* border: none; */

	clear: none !important;

	

}



.alignright {

	border: 1px solid #000;

	margin-left: 15px !important;

	margin-bottom: 15px !important;

}

.alignleft {

	border: 1px solid #000;

	margin-right: 15px !important;

	margin-bottom: 15px !important;

}



.format_text p {

	clear: left;

}

.wp-caption {

	width: auto !important;

}

.wp-caption.alignright {

	padding: 10px !important;

	border: none;

	margin-top: 0px;

	-webkit-border-radius: 3px;

	-moz-border-radius: 3px;

	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 2px 2px #dbdbdb;

-moz-box-shadow: 0px 0px 2px 2px #dbdbdb;

box-shadow: 0px 0px 2px 2px #dbdbdb;

}

p.wp-caption-text {

	font-style: normal;

	text-transform: uppercase;

	letter-spacing: 0.1em;

	font-size: 10px !important;

	color: #0c30a7;

}

hr {

	clear: both;

	border-bottom: 1px solid #ccc;

	border-top: none;

	background: transparent;

	margin-top: 30px;

	margin-bottom: 25px;

}

/* BLOG CUSTOM WORK */



.entry-title {

	display: block !important;

}

.entry-title a {

	color: #9b2023;

	font-size: 24px;

	display: block;

	border-bottom: 1px solid #9b2023;

	padding-bottom: 5px;

	margin-bottom: 0;

}

/* BLOG RIGHT-HAND COLUMN */

/* BLOG RIGHT-HAND COLUMN */

.widget_recent_entries {
	display: block;
	position: relative;
	right: -490px;
	top: -145px;
	width: 
}

.get-coach-btn {
	position: relative;
	left: -21px;
	top: 3px;
}

.teasers_box {
	width: 90.5%;
	padding-left: 0;
	margin-left: 0;
}
.post_box, .teasers_box {
	border-width: 0;
}
.teaser {
	width: 47%;
}
